# Python - Data Structure

1. What are data structures, and why are they important?
  - Data structures are fundamental ways of organizing and storing data for efficient access and manipulation within computer programs. They are important because they enable efficient algorithms, improve code readability, and make data management more effective.

  - Data Structures are important as:
    - Efficient Algorithms
    - Code Readability and Maintainability
    - Data Management
    - Performance Optimization
    - Foundation for Other Concepts

2.  Explain the difference between mutable and immutable data types with examples.
  - Mutable data types are those that can be modified after their creation, while immutable data types cannot be changed once they are created. Lists and dictionaries are examples of mutable data types, whereas strings and tuples are examples of immutable data types.

3. What are the main differences between lists and tuples in Python?
  - Lists and tuples are both used to store sequences of items in Python, but they differ significantly in their mutability and usage.
    - Mutability:
      - Lists are mutable, meaning their contents can be changed after creation. You can add, remove, or modify elements within a list.
      - Tuples are immutable, meaning their contents cannot be changed after creation. Once a tuple is defined, it remains fixed.
    
    - Use Cases:
      - Lists are suitable for dynamic collections where elements need to be added, removed, or modified frequently.
      - Tuples are ideal for fixed data that should not be changed, such as representing records or constants.

4. Describe how dictionaries store data.
  - Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format.

5.  Why might you use a set instead of a list in Python?
  - Sets and lists are both used to store collections of items in Python, but they have different characteristics that make them suitable for different situations.
      - Uniqueness of Elements
        - Sets only store unique elements. If you try to add a duplicate, it will be ignored.
        - Lists, on the other hand, allow duplicate elements.
      - Unordered Collection
        - Sets are unordered collections. This means that the elements do not have a specific position, and you cannot access them using an index.
        - Lists are ordered, and elements are stored in the order they are added, allowing access by index.
      - Mutability
        - Both lists and sets are mutable, meaning their contents can be changed after creation. However, set elements themselves must be immutable (e.g., numbers, strings, tuples).

6. What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list (referred to as a nested list). A dictionary is a more general version of a list and is made up a set of keys and values where there is a mapping between a given key and its corresponding value.
  - Strings are immutable, designated by parenthesis and consist of only one data type, the "string". Lists are mutable, designated by brackets and consist of one or more items of many different data types; such as strings, integers, floats, dictionaries, tuples, sets and even other lists.

7.  How do tuples ensure data integrity in Python?
  - Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic is crucial for maintaining the consistency and reliability of data.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index into an array, where the value is stored. The hash function takes a key as input and outputs an integer, called a hash code, that is used as an index into the array. This allows for fast access to the value associated with a given key.

9. Can lists contain different data types in Python?
  - Yes, lists in Python can contain different data types. This is one of the key features that makes them versatile and widely used. A single list can hold a mix of integers, floats, strings, booleans, and even other lists, tuples, or dictionaries.

10. Explain why strings are immutable in Python.
  - In Python, strings are immutable, meaning their values cannot be altered after creation. This characteristic stems from design choices that prioritize efficiency, safety, and consistency.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.
  - A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type. Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

12.  Describe a scenario where using a tuple would be preferable over a list.
  - Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change.
  - Use a tuple instead of a list when you have a collection of items that should not be modified. Tuples are useful when you want to ensure that the data remains constant throughout your program. Lists, on the other hand, are more suitable when you need to add, remove, or modify elements.

13. How do sets handle duplicate values in Python?
  - In Python, sets are designed to store only unique elements. When you attempt to add a duplicate value to a set, it simply ignores the duplicate and the set remains unchanged. This behavior is inherent to the nature of sets, which are unordered collections of distinct items.
      - **Automatic Removal:**
When you create a set from an iterable (like a list or tuple) containing duplicate values, the set automatically removes them, keeping only one instance of each unique value.
      - **No Modification:**
If you attempt to add an existing element to a set, the set will not be modified.
      - **Unordered:**
Sets do not maintain any specific order of elements. The order in which you add elements might not be the same order in which they are stored.

14. How does the “in” keyword work differently for lists and dictionaries?
  - In List the 'in' operator is used to check if a value exists within a sequence like a list, tuple, dictionary, or string. It returns True if the value is found in the sequence, and False otherwise.
  - The in operator for dictionaries (dict) checks for the presence of a key. Use the values() and items() methods to test for the presence of values or key-value pairs.

15. Can you modify the elements of a tuple? Explain why or why not
  - No, you cannot directly modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed. If you try to modify a tuple, it will throw a TypeError.
      - Tuples are immutable because:
          - Data Integrity
          - Efficiency
          - Use Cases

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows you to create hierarchical data structures, grouping related data within a single dictionary.

17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing an element in a dictionary using a key generally has an average time complexity of O(1), meaning it's constant time. However, in the worst-case scenario, it can degrade to O(n), where n is the number of key-value pairs in the dictionary. This worst-case scenario is less common and typically occurs when there are numerous collisions in the hash table, making the access more like a linear search

18.  In what situations are lists preferred over dictionaries?
  - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.
  - Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.
  - A data dictionary defines each data element in a dataset, specifying its type, allowed values, default values, and constraints. It includes metadata about the data's purpose, source, and relationships, ensuring consistency and helping users or developers understand the data structure.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  - **Lists:**
Accessing an element in a list requires knowing its index (position in the list). This means that to retrieve a specific element, you must start from the beginning of the list and iterate through it until you find the element at the desired index.

  - **Dictionaries:**
Dictionaries store data as key-value pairs. To retrieve a value, you specify the corresponding key. Dictionaries use a hash table (a sophisticated data structure) to efficiently map keys to values, allowing for quick lookups. This means you can retrieve a value directly from the dictionary without needing to search through its elements.

# Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
name = "Aniket Apurv"
print(f"My name is {name}.")

My name is Aniket Apurv.

2. Write a code to find the length of the string "Hello World".

In [2]:
string = "Hello World"
length = len(string)
print("The length of the string is:", length)

The length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
string1 = "I like apple"
string2 = string1.replace("apple", "orange")
print(f"Original string: {string1}")
print(f"New string: {string2}")

Original string: I like apple
New string: I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
list = [1, 2, 3, 4, 5]
print(f"The created list is: {list}")

The created list is: [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
list1 = [1, 2, 3, 4]
list1.append(10)
print(f"The appended list is: {list1}")

The appended list is: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
print(f"The removed list is: {list2}")

The removed list is: [1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
list3 = ['a', 'b', 'c', 'd']
second_element = list3[1]
print(second_element)

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
list4 = [10, 20, 30, 40, 50]
list4.reverse()
print(list4)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [13]:
tuple2 = ('red', 'green', 'blue', 'yellow')
second_to_last = tuple2[-2]
print(second_to_last)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [14]:
tuple3 = (10, 20, 5, 15)
min_number = min(tuple3)
print(f"The minimum number in the tuple is: {min_number}")

The minimum number in the tuple is: 5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
tuple4 = ('dog', 'cat', 'rabbit')
element_to_find = 'cat'
try:
    index = tuple4.index(element_to_find)
    print(f"The index of '{element_to_find}' is: {index}")
except ValueError:
    print(f"'{element_to_find}' is not found in the tuple.")

The index of 'cat' is: 1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits_tuple = ("apple", "banana", "orange")

if "kiwi" in fruits_tuple:
    print("Yes, 'kiwi' is in the fruits tuple.")
else:
    print("No, 'kiwi' is not in the fruits tuple.")

No, 'kiwi' is not in the fruits tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
set = {'a', 'b', 'c'}
print(set)

{'a', 'c', 'b'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [18]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
set2 = {1, 2, 3, 4}
set2.remove(4)
set2

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set_operator = set1 | set2
print(union_set_operator)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set_operator = set1 & set2
print(intersection_set_operator)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
dictionary = {
    "Name": "Aniket Apurv",
    "Age": 27,
    "City": "Navi Mumbai"}
print(dictionary)

{'Name': 'Aniket Apurv', 'Age': 27, 'City': 'Navi Mumbai'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [26]:
my_dict1 = {'name': 'Aniket Apurv', 'age': 27}
name_value = my_dict1["name"]
print(name_value)

Aniket Apurv

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [28]:
my_dict2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
removed_age = my_dict2.pop("age")
print(f"Updated dictionary: {my_dict2}")

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [30]:
my_dict2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
if "city" in my_dict2:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
list = [10, 20, 30, "apple", True]
tuple = ("red", "green", "blue", 1, 2)
dictionary = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print("My List:", list)
print("My Tuple:", tuple)
print("My Dictionary:", dictionary)

My List: [10, 20, 30, 'apple', True]
My Tuple: ('red', 'green', 'blue', 1, 2)
My Dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [35]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)
random_numbers.sort()
print(random_numbers)

[35, 88, 8, 1, 34]
[1, 8, 34, 35, 88]

28. Write a code to create a list with strings and print the element at the third index.

In [36]:
my_strings = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_strings[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [40]:
dict1 = {'Name': 'Aniket Apurv', 'Age': 27}
dict2 = {'City': 'Navi Mumbai', 'Occupation': 'Engineer'}
dict1.update(dict2)
print("Combined dictionary:", dict1)

Combined dictionary: {'Name': 'Aniket Apurv', 'Age': 27, 'City': 'Navi Mumbai', 'Occupation': 'Engineer'}

30.  Write a code to convert a list of strings into a set.

In [44]:
strings = ["apple", "banana", "cherry", "apple", "date", "banana"]
set_from_list = set(strings)
print(set_from_list)

TypeError: 'set' object is not callable